.messageBlock
    width: 100%
    border: 1px solid #000
    background-color: #61b24a
    box-sizing: border-box
    margin-left: auto
.buttonPushMe
    width: 25%
    height: 35px
    margin: 1%
.textfield
    width: 70%
    height: 29px
    margin: 1% 0 1% 1%
    background-color: #449bae
    box-sizing: border-box
