.addUserDiv
    position: absolute
    width: 30%
    border: 1px solid #000
    left: 25%
    top: 15%
    background-color: #bacc64
    padding: 2%
.addUserForm
    width: 100%
    display: flex
    flex-direction: column
    
.addUserh2
    text-align: center
.addUserlabel
    width: 90%
    display: flex
    justify-content: space-between
    margin: 10px
.addUserinput
    width: 50%
.addUserbutton
    width: 50%
    margin: 10px 25% 10px 25%
